<form>
    <div class="fieldset">
        <div class="form-item">
            <label for="input">First input</label>
            <input type="text" name="input" value="" />
        </div>
        <div class="form-item">
            <label for="input">Second input</label>
            <input type="text" name="input" value="" />
        </div>
        <div class="form-item">
            <label for="input">Third input</label>
            <input type="text" name="input" value="" />
        </div>
    </div>
    <div class="form-item">
        <input type="submit" name="input" value="Send" />
    </div>
</form>